:root {
   --header-bg: linear-gradient(to right, #552288, #dd2277);
   --header-txt: #eeeeee;
   --tab-border: #666666;
   --tab-hover-border: #333333;
   --tab-active-bg: linear-gradient(#eeeeee, #dddddd);
   --tab-bg: #dddddd;
   --tab-hover-bg: linear-gradient(#eeeeee, #dddddd);
   --tab-active-marker: #55cc22;
   --tab-marker: #ccaadd;
   --page-bg: #f4f4f4;
   --page-txt: #111111;
   --table-border: #333333;
}

body {
   margin: 0;
   padding: 0;
   width: 100dvw;
   height: 100dvh;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   grid-template-columns: min-content 1fr;
   background: var(--header-bg);
   color: var(--header-txt);
}

header {
   grid-row: 1;
   grid-column: 1 / 3;
}

header>h1 {
   margin: 0.2rem 0;
   padding-left: 1rem;
   text-align: center;
}

#header-year {
   position: static;
   font: initial;
   padding-left: 1rem;
}

footer {
   grid-row: 3;
   grid-column: 1 / 3;
   padding: 0.2rem 0;
   text-align: center;
}

footer>a {
   text-decoration: underline;
   color: inherit;
}

main {
   grid-row: 2;
   grid-column: 1 / 3;
   padding: 0;
   margin: 0 4px;
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-rows: subgrid;
   grid-template-columns: subgrid;
}

#side {
   grid-row: 2;
   grid-column: 1;
   padding: 0;
   margin: 0;
   overflow: auto;
}

#panels {
   grid-row: 2;
   grid-column: 2;
   padding: 1rem;
   margin: 0;
   overflow: auto;
   background-color: var(--page-bg);
   color: var(--page-txt);
}

#tablist {
   margin: 0;
   padding: 0;
   width: 16rem;
}

button.tab {
   font: inherit;
   text-align: inherit;
   color: var(--page-txt);
   background: var(--tab-bg);
   border: none;
   border-inline-start: 8px solid var(--tab-marker);
   padding: 0.8rem 8px;
   width: 100%;
   display: grid;
   grid-template-columns: 3rem 2rem 1fr;
   margin: 0 0 4px 0;
   cursor: pointer;
   box-shadow: inset -1px 0 0 #333333;
}

button.tab[aria-selected="true"] {
   background: var(--page-bg);
   font-weight: bold;
   box-shadow: none;
   border-inline-start: 8px solid var(--tab-active-marker);
}

button.tab[aria-selected]:focus-visible {
   outline: auto;
   outline-offset: -4px;
}

button.tab:hover {
   background: var(--page-bg);
}

div.tab-text {
   grid-column: 1 / 3;
}

div.tab-status {
   text-align: center;
}

div.tab-score {
   text-align: right;
}

span.tab-score-allot {
   font-size: smaller;
}

span.tab-score-allot::before {
   content: "/";
}

table {
   border-collapse: collapse;
   border: 1px solid var(--tab-border);
   margin: 1rem;
}

td, th {
   border: 1px solid var(--tab-border);
   padding: 0.2rem;
   background-color: #f6f6ff;
}

th {
   background-color: #885588;
   color: var(--page-bg);
   border-left: 1px solid var(--page-bg);
   border-right: 1px solid var(--page-bg);
}

th:first-child {
   border-left: 1px solid var(--tab-border);
}

th:last-child {
   border-right: 1px solid var(--tab-border);
}

td.summary-status {
   width: 4rem;
   text-align: center;
}

td.summary-score {
   width: 12rem;
   text-align: right;
}

td.summary-toeic {
   width: 10rem;
   text-align: right;
}

td.summary-notoeic {
   width: 10rem;
   text-align: center;
}

.summary-score-allot, .summary-toeic-allot {
   font-size: smaller;
}

.summary-score-allot::before, .summary-toeic-allot::before {
   content: "/";
}

td.summary-exam, td.summary-intvw {
   width: 4rem;
   font-size: smaller;
   text-align: center;
}

.subj-id {
   width: 7rem;
   text-align: center;
}

.subj-name {
   width: 20rem;
}

.subj-credits {
   width: 3rem;
   text-align: center;
}

.subj-test {
   min-width: 4rem;
}

.subj-sum {
   min-width: 4rem;
}

.test-blank, .sum-blank {
   border-left: none;
   border-right: none;
}

.test-min, .test-max {
   border-right: none;
   text-align: center;
   padding: 0.2rem 0.6rem;
}

.sum-max {
   border-left: none;
   text-align: center;
   padding: 0.2rem 0.6rem;
}

.sum-weight {
   border-right-style: dashed;
   text-align: center;
}

.test-ignore, .sum-ignore {
   background-color: var(--tab-bg);
}

button.details {
   font: inherit;
   text-decoration: underline #22ccff 4px;
   color: inherit;
   background-color: inherit;
   border: none;
   cursor: pointer;
   user-select: text;
}

button.details[data-status="false"] {
   text-decoration-color: #ff9999;
   text-decoration-thickness: 2px;
   text-decoration-style: double;
}

button.details[data-status=""] {
   text-decoration-color: #dddd11;
   text-decoration-thickness: 6px;
   text-decoration-style: dotted;
}

button.details[data-status="true"] {
   text-decoration-color: #11eecc;
}

button.details:hover, button.details:focus {
   font-style: oblique;
}

button.details:focus-visible {
   outline: auto;
}

:popover-open {
   box-shadow: 4px 4px 4px #333333;
   border: 1px solid var(--tab-border);
   color: var(--page-txt);
   background-color: var(--page-bg);
   padding: 0;
}
